.section {
    display: grid;
    grid-gap: 5px;
    margin-top: 10px;
}

.section__container {
    background: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.section__subHeader {
    padding: 15px;
    background-color: white;
    margin: 0;
    font-weight: 700;
    font-size: large;
}

@media (max-width: 767px) {

    .section__container {
        background: white;
        display: grid;
        grid-template-columns: 1fr;
    }
}