.section__form {
    FONT-WEIGHT: 100;
    padding: 19px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 15px;
}

.section__form--input {
    padding: 10px;
    background-color: white;
    font-weight: 400;
    border: solid 1px grey;
}

.section__form--button {
    padding: 10px;
    background-color: hsl(188, 98%, 26%);
    color: rgb(255 255 255);
    font-weight: 400;
    border: none;
    transition: 1s;
}

.section__form--button:hover {
    background-color: hsl(188, 50%, 26%);
    transform: scale(1.2);
}

.section__form--button:active {
    background-color: hsl(188, 70%, 16%);
}

@media (max-width: 767px) {
    .section__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .section__form--input {
        grid-column: span 3;
    }

    .section__form--button {
        grid-column: span 3;
    }
}